<div class="container text-center" style="margin-top: 120px;">
    <h1>Eat-Da-Burgers</h1>
    <img src="/assets/img/brg.png" alt="">

<div class="row text-left my-3 mx-auto" style="border: 1px solid green; max-width:700px">
    <div class="col-6 m-0 p-0" style="border-right: 1px solid green">
        <ul>
            {{#each burgers}}
                {{#unless devoured}} 
                    {{>burgers/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-6 m-0 p-0">
        <ul>
            {{#each burgers}}
                {{#if devoured}} 
                    {{>burgers/burger-block devoured=false}}
                {{/if}}
            {{/each}}
        </ul>
    </div>

</div>

    <form class="create-form">
        <div class="form-group">
            <input type="text" name="name" id="nm" style="height: 60px;">
        </div>
        <button class="btn mb-5" type="submit" style="background: white;">Add A Burger</button>
    </form>
</div>