<li class="m-3" style="list-style-type: none;">
    {{id}}. {{burger_name}}
    {{#if devoured}}
        <button class="change-eat btn btn-light" data-id="{{id}}" data-eat="{{devoured}}">
            Devoured it
        </button>
    {{/if}}
</li>
